<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ToLoginPageController</servlet-name>
        <servlet-class>js.controllers.ToLoginPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToMainPageController</servlet-name>
        <servlet-class>js.controllers.ToMainPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToRegisterPageController</servlet-name>
        <servlet-class>js.controllers.ToRegisterPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>js.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>js.controllers.Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToVerifyPageController</servlet-name>
        <servlet-class>js.controllers.ToVerifyPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToSearchPageController</servlet-name>
        <servlet-class>js.controllers.ToSearchPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>js.controllers.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPageController</servlet-name>
        <servlet-class>js.controllers.SearchPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUserController</servlet-name>
        <servlet-class>js.controllers.CreateUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorController</servlet-name>
        <servlet-class>js.controllers.ErrorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyController</servlet-name>
        <servlet-class>js.controllers.VerifyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>js.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>js.controllers.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToCartController</servlet-name>
        <servlet-class>js.controllers.ToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaskController</servlet-name>
        <servlet-class>js.controllers.TaskController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrderController</servlet-name>
        <servlet-class>js.controllers.UpdateOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrderController</servlet-name>
        <servlet-class>js.controllers.DeleteOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmController</servlet-name>
        <servlet-class>js.controllers.ConfirmController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiscountController</servlet-name>
        <servlet-class>js.controllers.DiscountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDiscountController</servlet-name>
        <servlet-class>js.controllers.DeleteDiscountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryController</servlet-name>
        <servlet-class>js.controllers.HistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryDetailController</servlet-name>
        <servlet-class>js.controllers.HistoryDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrderHistoryController</servlet-name>
        <servlet-class>js.controllers.DeleteOrderHistoryController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ToLoginPageController</servlet-name>
        <url-pattern>/ToLoginPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToMainPageController</servlet-name>
        <url-pattern>/ToMainPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToRegisterPageController</servlet-name>
        <url-pattern>/ToRegisterPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToVerifyPageController</servlet-name>
        <url-pattern>/ToVerifyPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToSearchPageController</servlet-name>
        <url-pattern>/ToSearchPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPageController</servlet-name>
        <url-pattern>/SearchPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUserController</servlet-name>
        <url-pattern>/CreateUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorController</servlet-name>
        <url-pattern>/ErrorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyController</servlet-name>
        <url-pattern>/VerifyController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/AddToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToCartController</servlet-name>
        <url-pattern>/ToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskController</servlet-name>
        <url-pattern>/TaskController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrderController</servlet-name>
        <url-pattern>/UpdateOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrderController</servlet-name>
        <url-pattern>/DeleteOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmController</servlet-name>
        <url-pattern>/ConfirmController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DiscountController</servlet-name>
        <url-pattern>/DiscountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDiscountController</servlet-name>
        <url-pattern>/DeleteDiscountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryController</servlet-name>
        <url-pattern>/HistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryDetailController</servlet-name>
        <url-pattern>/HistoryDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrderHistoryController</servlet-name>
        <url-pattern>/DeleteOrderHistoryController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>log4j-config-location</param-name>
        <param-value>WEB-INF/log4j.properties</param-value>
    </context-param>
    <filter>
        <filter-name>AuthenFilter</filter-name>
        <filter-class>js.filters.AuthenFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>js.controllers.ContextListener</listener-class>
    </listener>
    <welcome-file-list>
        <welcome-file>SearchPageController</welcome-file>
    </welcome-file-list>
</web-app>
